<div class="container">
  <div class="col-12">
  <p><%= link_to "Add flat", new_flat_path%></p>

    <h1>Simple airbnb</h1>
  </div>
</div>
  <ul>
    <% @flats.each do |flat| %>
      <li>
        <div class="card">
          <h3><%= flat.name %></h3>
          <p><%= flat.description %></p>
          <p><%= flat.number_of_guests %> $<%= flat.price_per_night  %></p>
        </div>
        <%= link_to "More info", flat_path(flat)%> <%= link_to "Edit", edit_flat_path(flat) %> <%= link_to "Delete", flats_path%>
      </li>
      <% end %>
  </ul>
