<div class="banner"></div>
  <div class="container">
  <div class="back_image"></div>
    <div id="card-name">
      <h2><%= @flat.name  %></h2>
        <p><%= @flat.address %></p>
    </div>
      <div id="card-description">
        <h3>Description</h3>
        <p><%= @flat.description %></p>
      </div>
        <div id="card-details">
        <h3>Details</h3>
        <p><%= @flat.number_of_guests %></p> <p>$<%= @flat.price_per_night %></p>

      </div>
    </div>
